* {
    text-align: center;
    font-family: monospace;
}

h1 {
    color:blue;
    background-color: gray;
    text-align: center;
}

nav {
    background-color: cadetblue;
    color: gray;
    text-align: center;
}

ul {
    list-style:inside;
    list-style-type:square;
}

ol {
    list-style-type: none;
}

article {
    font-size: 24px;
}

.kahve {
    height: 200px;
    width: 250px;
}

.altbaslik {
    color: crimson;
}